@using MessageParsing

<div class="">
    <img class="rounded float-left position-relative overflow-auto" src="Template.jpg" alt="Message background" />
    @foreach (DrawableProperty property in Parser.DrawableProperties)
    {
        <Property @key="property" DrawableProperty="property" />
    }
</div>

@code {
    [Parameter]
    public IMessageParser Parser { get; set; }
}
