@using MessageParsing

<div class="image-container">
    <img class="img-fluid rounded" src="Template.jpg" alt="Message background"/>
    @foreach (DrawableProperty property in Parser.DrawableProperties)
    {
        <Property @key="property" DrawableProperty="property"/>
    }
</div>

@code {
    [Parameter]
    public IMessageParser Parser { get; set; }
}
