@using MessageParsing

<h3>ImageMessageParser</h3>

<div class="image-container">
    @foreach (DrawableProperty property in Parser.DrawableProperties)
    {
        <Property @key="property" DrawableProperty="property"/>
    }
</div>

@code {
    [Parameter]
    public IMessageParser Parser { get; set; }
}
