@using ReferenceWebApplication.ReactiveInterface
@using InterfaceModel.Model

@if (ImageParser.ImageTemplates != null)
{
    @foreach (var pair in ImageParser.ImageTemplates)
    {
        <h3 class="text-center my-1">
            <span class="badge badge-pill badge-light">
                @pair.Key
            </span>
        </h3>
        <div class="d-flex justify-content-center mt-2 mb-5">
            <div class="overflow-auto border border-light image-container rounded-lg" style="position: relative;">
                <img class="rounded float-left"
                     src="@pair.Value?.RelativePath"
                     alt="Message background"
                     style=@($"width: {pair.Value?.Width}px; height: {pair.Value?.Height}px;") />
                @foreach (DrawableProperty property in pair.Value.DrawableProperties)
                {
                    <Property @key="property" DrawableProperty="property" />
                }
            </div>
        </div>
    }
}

@code
{
    private ReactiveInterface.ImageMessageParser ImageParser => Parser as ReactiveInterface.ImageMessageParser;

    [Parameter]
    public IMessageParser Parser { get; set; }
}
