@using MessageParsing
@using InterfaceModel.Model

@if (ImageParser.ImageTemplates != null)
{
    @foreach (ImageTemplate image in ImageParser.ImageTemplates)
    {
        <h3>@image.Properties.FirstOrDefault()?.Subscription?.UaTypeMetadata?.RepositoryGroupName</h3>
        <div class="d-flex justify-content-center">
            <div class="overflow-auto" style="position: relative;">
                <img class="rounded float-left"
                     src="@image?.RelativePath"
                     alt="Message background"
                     style=@($"width: {image.Width}px; height: {image.Height}px;") />
                @foreach (DrawableProperty property in image.DrawableProperties)
                {
                    <Property @key="property" DrawableProperty="property" />
                }
            </div>
        </div>
    }
}

@code
{
    private MessageParsing.ImageMessageParser ImageParser => Parser as MessageParsing.ImageMessageParser;

    [Parameter]
    public IMessageParser Parser { get; set; }
}
