@using System.Drawing
@using System.Text
@using MessageParsing
@using MessageParsing.Model

<span class="drawable-property" style="@Style">
    @DrawableProperty.Subscription.Value?.ToString()
</span>

@code
{
    [Parameter]
    public DrawableProperty DrawableProperty { get; set; }
    private string Style => DrawableProperty is null
        ? string.Empty
        : new StringBuilder()
            .Append("position: absolute;")
            .Append("left: ").Append(Decimal.Round(DrawableProperty.Template.Location.Value.X)).Append("px;")
            .Append("top: ").Append(Decimal.Round(DrawableProperty.Template.Location.Value.Y)).Append("px;")
            .Append("background-color: ").Append(ColorTranslator.ToHtml(DrawableProperty.Template.BackgroundColor.Value)).Append(";")
            .Append("color: ").Append(ColorTranslator.ToHtml(DrawableProperty.Template.FontColor.Value)).Append(";")
            .ToString();
}
