@using System.Drawing
@using System.Text
@using InterfaceModel.Model

<span class="drawable-property font-bordered" style="@Style">
    @DrawableProperty.Subscription.Value?.ToString()
</span>

@code
{
    [Parameter]
    public DrawableProperty DrawableProperty { get; set; }
    private string Style => DrawableProperty is null
        ? string.Empty
        : new StringBuilder()
            .Append("position: absolute;")
            .Append("left: ").Append(DrawableProperty.Template.Location?.X).Append("px;")
            .Append("top: ").Append(DrawableProperty.Template.Location?.Y).Append("px;")
            .Append("color: ").Append(DrawableProperty.Template?.HexColor ?? "black").Append(";")
            .ToString();
}
