@using ReactiveHMI.ReferenceWebApplication.ReactiveInterface
@using ReactiveHMI.TemplateRepositories.Model

<div class="table-responsive">
    <table class="table table-sm table-dark">
        <thead class="thead-light">
            <tr>
                <th style="width: 25%;">Repository</th>
                <th style="width: 25%;">Property</th>
                <th style="width: 50%;">Value</th>
            </tr>
        </thead>
        <tbody class="table-striped">
            @foreach (PrintableProperty property in Parser.PrintableProperties)
            {
                <tr>
                    <td>@property.Subscription.UaTypeMetadata.RepositoryGroupName</td>
                    <td>@property.Template.Name</td>
                    <td>@(property.Subscription.ToString() ?? "null")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@code
{
    [Parameter]
    public IMessageParser Parser { get; set; }
}
