@using MessageParsing
@using InterfaceModel.Model

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col">Property</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PrintableProperty property in Parser.PrintableProperties)
            {
                <tr>
                    <th scope="row">@property.Template.Name</th>
                    <td>@(property.Subscription.ToString() ?? "null")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code 
{
    [Parameter]
    public IMessageParser Parser { get; set; }
}
