<div class="topbar navbar navbar-dark">
    <ul class="nav flex-row">
        <li class="nav-item">
            <NavLink class="nav-link" href="configuration">
                <span class="oi oi-cog" aria-hidden="true"></span>
                <span class="caption">Configuration</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="detailed-message">
                <span class="oi oi-list-rich" aria-hidden="true"></span>
                <span class="caption">Messages</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="subscriptions">
                <span class="oi oi-task" aria-hidden="true"></span>
                <span class="caption">Subscriptions</span>
            </NavLink>
        </li>
    </ul>
    <a class="navbar-brand navbar-right" href="">Object Oriented Internet</a>
</div>

@functions 
{
}