<div class="topbar navbar">
    <div class="navbar-dark">
        <a class="navbar-brand" href="">Object Oriented Internet</a>
    </div>
    <ul class="nav flex-row">
        <li class="nav-item">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Detailed data
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
    </ul>
</div>