<div class="topbar navbar navbar-dark">
    <ul class="nav flex-row">
        <li class="nav-item">
            <NavLink class="nav-link" href="hmi">
                <span class="oi oi-list-rich" aria-hidden="true"></span>
                <span class="caption">Interface</span>
            </NavLink>
        </li>
    </ul>
    <a class="navbar-brand navbar-right" href="">Object Oriented Internet</a>
</div>
