@page "/configuration"
@using ReferenceWebApplication.Services
<h1>Configuration</h1>

<h3>Window's width: @WindowSize?.Width; Window's height: @WindowSize?.Height</h3>

<button class="btn-primary" @onclick="Refresh">Refresh</button>

@inject WindowService Window
@code 
{
    public Size WindowSize { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Refresh();
            StateHasChanged();
        }
    }

    public async Task Refresh()
    {
        WindowSize = await Window.GetDimensions();
    }
}