@page "/configuration"
@using M2MCommunication.Services
<h1>Configuration</h1>

<h3 class="my-1">@ConfigurationService.Configuration.ToString()</h3>

@inject ConfigurationService ConfigurationService
@code 
{
}