@page "/detailed-message"

<h2>// Status</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <textarea id="MessageTextArea" rows="10" cols="40">@concatMessages</textarea>
        </div>
        <div class="col-3">
            <label>Packages received: </label>
            <label>@packagesReceived</label>
            <label>Bytes received: </label>
            <label>@bytesReceived</label>
        </div>
    </div>
</div>

@functions {
    int bytesReceived = 0;
    int packagesReceived = 0;
    int numberOfSavedMessages = 3;
    string concatMessages = "";
    Queue<string> messages;

    void ReadMessage()
    {
        // call to a service or something
    }
}
