@page "/detailed-message"
@using ReferenceWebApplication.Data
@using System.Text

<h2>Status</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <textarea id="MessageTextArea" rows="10" style="width: 100%;">@messages.ToString()</textarea>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-12">
                    <label>Packages received: </label>
                    <label>@packagesReceived</label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>Bytes received: </label>
                    <label>@bytesReceived</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-lg btn-danger" @onclick="ReadMessageAsync">
                Receive message
            </button>
        </div>
    </div>
</div>


@inject  DummyService Service
@code 
{
    int bytesReceived = 0;
    int packagesReceived = 0;

    MessageQueue messages = new MessageQueue(3);

    public async Task ReadMessageAsync()
    {
        string message = await Service.ReceiveMessageAsync();
        if (message != null)
        {
            messages.Add(message);
            ++packagesReceived;
            bytesReceived += Encoding.UTF8.GetByteCount(message);
        }
    }
}