@page "/hmi"
@using M2MCommunication.Core.Exceptions
@using MessageParsing
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Logging

<div class="container-fluid">
    <h3 class="text-danger text-center font-bordered">@ExceptionMessage</h3>
    <div class="row my-1">
        <div class="col-6 text-center py-1">
            <h3><span class="badge @PackagesReceivedStyle">Packages received: @PackagesReceived</span></h3>
        </div>
        <div class="col-6 text-center py-1">
            <button class="badge-button" @onclick="RefreshConfiguration">
                <h3><span class="badge badge-success">Refresh configuration</span></h3>
            </button>
        </div>
    </div>
    <div class="row my-3 no-gutters">
        <div class="col-12">
            <ReferenceWebApplication.Components.ImageMessageParser Parser="Parser" />
        </div>
    </div>
    @if (Parser.PrintableProperties.Any())
    {
        <div class="row my-3">
            <div class="col-12">
                <h2 class="mt-6 mb-3" style="font-weight: bold;">Other properties</h2>
                <ReferenceWebApplication.Components.TextMessageParser Parser="Parser" />
            </div>
        </div>
    }
</div>

@implements IDisposable
@inject IMessageParser Parser
@inject ILogger<HMI> Logger
@inject IStringLocalizer<HMI> Localizer
@code
{
    private string PackagesReceivedStyle => PackagesReceived > 2048 ? "badge-danger" : "badge-primary";

    public int PackagesReceived { get; private set; } = 0;
    public string ExceptionMessage { get; private set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await Parser?.InitialiseAsync(OnPropertyChangedAsync);
        }
        catch (ConfigurationFileNotFoundException ex)
        {
            Logger.LogError(ex, ex.Message);
            ExceptionMessage = Localizer.GetString("ConfigurationFileNotFound");
        }
        catch (UnsupportedTypeException ex)
        {
            Logger.LogError(ex, ex.Message);
            ExceptionMessage = Localizer.GetString("UnsupportedDataType");
        }
        catch (ValueRankOutOfRangeException ex)
        {
            Logger.LogError(ex, ex.Message);
            ExceptionMessage = Localizer.GetString("UnsupportedValueRank");
        }
        catch (ComponentNotInitialisedException ex)
        {
            Logger.LogError(ex, ex.Message);
            ExceptionMessage = $"{Localizer.GetString("ComponentNotInitialisedException")} {ex.Message}";
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, ex.Message);
            ExceptionMessage = ex.Message;
        }
    }

    protected async Task OnPropertyChangedAsync()
    {
        await InvokeAsync(() =>
        {
            ++PackagesReceived;
            StateHasChanged();
        });
    }

    private void RefreshConfiguration()
    {
        Parser.RefreshConfiguration();
    }

    public void Dispose()
    {
        Parser.Dispose();
    }
}