@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    flex-direction: row;
}

.main {
    flex: 1;
}

.topbar {
    background-image: linear-gradient(120deg, #00e45f 40%, rgb(5, 39, 103));
    position: sticky;
    top: 0;
    width: 100vw;
}

    .topbar .navbar-brand {
        font-size: 1.7rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    .topbar .oi {
        width: 2.5rem;
        font-size: 1.5rem;
        top: -1px;
        vertical-align: middle;
    }

.navbar .navbar-toggler {
    display: inline-flex;
}

.nav-item {
    display: list-item;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    vertical-align: bottom;
}

    .nav-item a {
        display: flex;
        align-items: center;
        color: #d7d7d7;
        height: 2.5rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.5rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 700px) {
    .navbar .navbar-toggler {
        display: inline;
    }

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }
}

@media (min-width: 700px) {
    .navbar .navbar-toggler {
        display: none;
    }

    .nav-item:first-of-type {
        padding-left: 1rem;
    }

    .nav-item:last-of-type {
        padding-right: 1rem;
    }
}