@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    flex-direction: row;
}

.main {
    flex: 1;
}

.topbar {
    background-image: linear-gradient(130deg, #217544 28%, #00a87b);
    position: sticky;
    top: 0;
    width: 100vw;
    font-size: 1.5rem;
}

    .topbar .navbar-brand {
        font-size: 1em;
        padding-bottom: 0.3rem;
        padding-top: 0.3rem;
    }

    .topbar .oi {
        width: 1em;
        font-size: 1em;
        top: -1px;
        vertical-align: middle;
    }

.navbar .navbar-toggler {
    display: inline-flex;
}

.nav-item {
    display: list-item;
    font-size: 0.85em;
    margin-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    vertical-align: bottom;
}

    .nav-item .caption {
        margin-left: 0.3em;
    }

    .nav-item a {
        display: flex;
        align-items: center;
        color: #d7d7d7;
        height: 2.5em;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.5rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
}

@media (max-width: 992px) {

    .topbar {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {

    .topbar {
        font-size: 1rem;
    }

        .topbar .oi {
            width: 1em;
            font-size: 1em;
            top: -1px;
            vertical-align: middle;
        }

    .navbar-brand {
        margin-right: 0;
        font-size: 0.8em;
    }

    .nav-item .caption {
        display: none;

    }

    .nav-item:first-of-type {
        padding-left: 0;
    }

        .nav-item:first-of-type .nav-link {
            padding-left: 0;
        }

    .nav-link {
        padding-left: 0.4em;
        padding-right: 0.4em;
    }
}

@media (max-width: 400px) {

    .topbar {
        font-size: 1rem;
    }

    .navbar-brand {
        margin-right: 0.5em;
    }
}